/* 搜索表单组件 */
#search-component .el-input {
  border-radius: 24px;
  box-shadow: 0px 1px 6px 0px rgba(115, 115, 129, 0.28);
}

#search-component .el-input-group__prepend {
  background-color: white;
  padding: 0 5px 0 20px;
  border-radius: 24px 0 0 24px;
  cursor: pointer;
}

#search-component .el-input__inner {
  border-left: 0;
  border-right: 0;
  padding: 0 15px 0 10px;
  line-height: 1rem;
}

#search-component .el-input__inner:focus {
  border-color: #dcdfe6;
}

#search-component .el-input__inner:hover {
  border-color: #dcdfe6;
}

#search-component .el-input-group__append {
  background-color: white;
  border-radius: 0 24px 24px 0;
}

#search-component .el-icon--right {
  margin-left: 0;
}